@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 90%;
  }
}

.button {
  background-color: #ffd200;
  border-radius: 10px;
  padding: 18px 30px;
  font-size: 13px;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #cca800;
}

.section-title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.section-subtitle {
  font-size: 16px;
}

.input {
  padding: 20px 26px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  font-size: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input:hover {
  -webkit-box-shadow: 0 0 5px 0 #ffd200;
          box-shadow: 0 0 5px 0 #ffd200;
}

.input:focus {
  outline: none;
  border-color: #ffd200;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__address {
  font-size: 13px;
}

.navbar__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__contacts a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}

@media screen and (max-width: 567px) {
  .navbar__contacts {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .navbar__button {
    font-size: 10px;
    padding: 13px 25px;
  }
  .navbar__logo {
    width: 91px;
  }
  .navbar .container {
    max-width: 280px;
    width: 95%;
  }
}

.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 41px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 45px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 70px;
}

.hero-list {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 2px solid #ffd200;
}

.hero-list__text {
  max-width: 300px;
}

@media screen and (max-width: 1200px) {
  .hero-text {
    padding-right: 30px;
  }
  .hero-text__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 950px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text__title {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    padding-right: 0;
  }
  .hero-text__title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    margin-bottom: 25px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 0;
  position: relative;
  background: url("/src/img/offer/offer-bg.jpg") no-repeat center right;
}

.offer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.offer-block {
  position: relative;
  max-width: 495px;
}

.offer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  max-width: 350px;
  line-height: 35px;
}

.offer__subtitle {
  display: block;
  margin-bottom: 30px;
  max-width: 232px;
}

.offer__button {
  width: 100%;
  padding: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}

.offer__input {
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer-recall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.offer-recall p {
  margin: 0;
  padding: 0;
  max-width: 225px;
  line-height: 24px;
}

.offer-recall__number {
  display: block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    width: 45%;
  }
  .offer__input {
    width: 100%;
  }
  .offer__input:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .offer {
    background-color: #ffffff;
    background-image: none;
  }
  .offer::before {
    display: none;
  }
  .offer-block {
    margin: 0 auto;
    width: 100%;
  }
  .offer__title {
    font-size: 18px;
    line-height: 24px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .offer__input {
    margin-bottom: 10px;
  }
  .offer__input:first-child {
    margin-bottom: 10px;
  }
  .offer__button {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 16px 60px;
  }
  .offer-recall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  width: 300px;
  height: 150px;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  position: relative;
}

.up-arrow {
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.up-arrow img {
  width: 50%;
  height: 50%;
}
/*# sourceMappingURL=style.css.map */