@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 90%;
  }
}

.button {
  background-color: #ffd200;
  border-radius: 10px;
  padding: 18px 30px;
  font-size: 13px;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #cca800;
}

.section-title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 20px;
  text-align: center;
}

.input {
  padding: 20px 26px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  font-size: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input:hover {
  -webkit-box-shadow: 0 0 5px 0 #ffd200;
          box-shadow: 0 0 5px 0 #ffd200;
}

.input:focus {
  outline: none;
  border-color: #ffd200;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 18px;
    line-height: 24px;
  }
  .section-subtitle {
    font-size: 14px;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.button:hover {
  -webkit-animation: bounce 0.75s;
          animation: bounce 0.75s;
  -webkit-animation-timing-function: ease ease-in;
          animation-timing-function: ease ease-in;
}

.owl-nav {
  -webkit-animation: opacity 2s, fadeUp 1s linear;
          animation: opacity 2s, fadeUp 1s linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.card:nth-child(2) {
  -webkit-animation-delay: 0s, 0.1s;
          animation-delay: 0s, 0.1s;
}

.card:nth-child(3) {
  -webkit-animation-delay: 0s, 0.15s;
          animation-delay: 0s, 0.15s;
}

.card:nth-child(4) {
  -webkit-animation-delay: 0s, 0.2s;
          animation-delay: 0s, 0.2s;
}

.card:nth-child(5) {
  -webkit-animation-delay: 0s, 0.25s;
          animation-delay: 0s, 0.25s;
}

.card:nth-child(6) {
  -webkit-animation-delay: 0s, 0.3s;
          animation-delay: 0s, 0.3s;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__address {
  font-size: 13px;
}

.navbar__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__contacts a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}

@media screen and (max-width: 567px) {
  .navbar__contacts {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .navbar__button {
    font-size: 10px;
    padding: 13px 25px;
  }
  .navbar__logo {
    width: 91px;
  }
  .navbar .container {
    max-width: 280px;
    width: 95%;
  }
}

.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 41px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 45px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 70px;
}

.hero-list {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 2px solid #ffd200;
}

.hero-list__text {
  max-width: 300px;
}

@media screen and (max-width: 1200px) {
  .hero-text {
    padding-right: 30px;
  }
  .hero-text__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 950px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text__title {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    padding-right: 0;
  }
  .hero-text__title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    margin-bottom: 25px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 0;
  position: relative;
  background: url("../img/offer/offer-bg.jpg") no-repeat center right;
}

.offer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.offer-block {
  position: relative;
  max-width: 495px;
}

.offer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  max-width: 350px;
  line-height: 35px;
  font-size: 24px;
  text-align: left;
}

.offer__subtitle {
  display: block;
  margin-bottom: 30px;
  max-width: 232px;
  font-size: 16px;
}

.offer__button {
  width: 100%;
  padding: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}

.offer__input {
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer-recall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.offer-recall p {
  margin: 0;
  padding: 0;
  max-width: 225px;
  line-height: 24px;
}

.offer-recall__number {
  display: block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    width: 45%;
  }
  .offer__input {
    width: 100%;
  }
  .offer__input:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .offer {
    background-color: #ffffff;
    background-image: none;
  }
  .offer::before {
    display: none;
  }
  .offer-block {
    margin: 0 auto;
    width: 100%;
  }
  .offer__title {
    font-size: 18px;
    line-height: 24px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .offer__input {
    margin-bottom: 10px;
  }
  .offer__input:first-child {
    margin-bottom: 10px;
  }
  .offer__button {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 16px 60px;
  }
  .offer-recall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/bg-portfolio.jpg") repeat-y center left;
  background-size: 50%;
  padding-top: 100px;
  padding-bottom: 90px;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 100px;
}

.arrow-left:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-right:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.owl-nav {
  margin: auto;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120px;
}

.owl-nav button {
  outline: none;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 35px 0 50px;
    background-size: 0;
  }
  .portfolio__title {
    margin-bottom: 40px;
  }
  .owl-nav {
    margin-top: 40px;
  }
}

.price {
  padding-top: 100px;
}

.price__title {
  margin: 0;
  padding: 0;
  max-width: 525px;
  margin: auto;
  margin-bottom: 55px;
  text-align: center;
}

.price__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 60px;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  -webkit-animation: opacity 2s, fadeUp 1s linear;
          animation: opacity 2s, fadeUp 1s linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  text-align: center;
  border: 1px solid #e8e8e8;
  padding-bottom: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0);
}

.card:hover .card__image::after {
  opacity: 1;
}

.card__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(0deg, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__image img {
  display: block;
}

.card__image {
  position: relative;
  margin-bottom: 40px;
}

.card__text {
  margin-bottom: 30px;
  font-size: 18px;
}

.card__link {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  position: relative;
}

.card__link:hover::after {
  height: 12px;
}

.card__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  left: 0;
  bottom: -4px;
  z-index: -1;
}

@media (max-width: 1200px) {
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .price {
    padding-top: 50px;
  }
  .price__title {
    margin-bottom: 25px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 60px;
  }
  .card {
    padding-bottom: 30px;
  }
  .card__text {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .card__image {
    margin-bottom: 30px;
  }
}

.steps {
  padding-top: 160px;
  padding-bottom: 95px;
}

.steps__title {
  margin: 0;
  padding: 0;
  margin: auto;
  max-width: 660px;
  margin-bottom: 55px;
}

.steps__subtitle {
  margin-bottom: 55px;
}

.steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps-list__item {
  position: relative;
}

.steps-list__item::after {
  position: absolute;
  top: -20px;
  left: 165px;
  content: url("../img/steps/arrow.png");
  width: 72px;
  height: 25px;
}

.steps-list__item:last-child::after {
  content: "";
  width: 0;
  height: 0;
}

.steps-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  margin-bottom: 25px;
}

.steps-list__text {
  font-size: 14px;
  text-align: center;
  max-width: 160px;
}

@media (max-width: 1200px) {
  .steps-list__item::after {
    left: 85%;
  }
}

@media (max-width: 800px) {
  .steps {
    padding-top: 55px;
  }
  .steps__title {
    max-width: 240px;
    margin-bottom: 25px;
  }
  .steps__subtitle {
    margin-bottom: 25px;
  }
  .steps-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps-list__item {
    margin-bottom: 25px;
  }
  .steps-list__image {
    margin-bottom: 15px;
  }
  .steps-list__text {
    margin: auto;
    font-size: 12px;
  }
  .steps-list__item::after {
    content: "";
    width: 0;
    height: 0;
  }
}

.brif {
  padding-top: 100px;
  padding-bottom: 90px;
  position: relative;
}

.brif::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #ffc000;
  z-index: -1;
}

.brif::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: url("../img/brif/brif-bg.jpg") no-repeat;
  background-size: cover;
  z-index: -1;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brif-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.brif-subtitle {
  font-size: 16px;
  display: block;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  max-width: 370px;
}

.brif-form__input {
  width: 100%;
  margin-bottom: 15px;
}

.brif-form__button {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 25px;
  width: 100%;
}

.brif-form__recall {
  display: block;
  font-size: 15px;
}

.questions {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.questions-list {
  list-style: none;
  padding: 0;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.questions-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.questions-list__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
  margin-right: 30px;
}

.questions-list__question {
  font-size: 18px;
  max-width: 385px;
}

.questions__title {
  max-width: 520px;
}

.questions__subtitle {
  margin-bottom: 90px;
}

.form__title {
  max-width: 350px;
  margin: 0 auto 50px;
}

.form__subtitle {
  margin-bottom: 45px;
}

.invalid {
  border: 1px solid red;
}

.invalid:hover {
  -webkit-box-shadow: 0 0 5px 0 red;
          box-shadow: 0 0 5px 0 red;
}

.invalid:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#username-error, #phone-error {
  border: none;
  padding-bottom: 15px;
  text-align: center;
}

#username-error:hover, #phone-error:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 960px) {
  .brif {
    padding-top: 0;
  }
  .brif__form {
    margin-top: 100px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brif::before {
    width: 100%;
    height: 45%;
    top: 0;
  }
  .brif::after {
    width: 100%;
    height: 55%;
    top: 45%;
  }
  .brif__title {
    padding-top: 45px;
    font-size: 18px;
  }
  .brif__subtitle {
    font-size: 14px;
  }
  .questions {
    padding-top: 45px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .questions-list__question {
    font-size: 14px;
    max-width: 240px;
  }
  .questions-list__item {
    margin-bottom: 25px;
  }
  .questions-list__counter {
    margin-right: 10px;
  }
  .questions__title {
    margin-bottom: 15px;
  }
  .questions__subtitle {
    margin-bottom: 35px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  width: 300px;
  height: 150px;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  position: relative;
}

.up-arrow {
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.up-arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.up-arrow img {
  width: 50%;
  height: 50%;
}
/*# sourceMappingURL=style.css.map */